@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  width: 600px;
}

label {
  cursor: pointer;
}
ul div {
  font-size: 8rem;
  height: 150px;
  font-weight: 300;
  font-family: "Noto Serif Display";
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.3rem;
}
